<div class="panel m+" ng-init="initList()">
    <div class="panel-header">
        <div class="panel-header-wrapper">
            <h2 class="panel-header-title">调查活动管理</h2>
        </div>
    </div>
    <div class="data-table-container">
        <header class="data-table-header">
            <div class="data-table-header__label">
                <span class="fs-title"></span>
            </div>
            <div class="data-table-header__actions">
                <lx-button ng-click="add()" lx-type="flat"><i class="mdi mdi-plus"></i>增加</lx-button>
            </div>
        </header>
        <table class="data-table">
            <thead>
            <tr>
                <th>活动名称</th>
                <th>创建日期</th>
                <th>创建人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.actname}}</td>
                <td>{{item.createdate|mysqlDatetime}}</td>
                <td>{{item.createid}}</td>
                <td>
                    <a href="javascript:" ng-click="getAcitvityScores(item)">统计</a>
                    <a href="javascript:" ng-click="edit(item)">编辑</a>
                    <a href="javascript:" ng-click="delete(item)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="has-divider has-divider--dark"></div>
        <div class="toolbar"  ng-if="false">
            <div class="toolbar__left mr++">
                <span ng-if="paginationInfo.totalItem==0">
                    无查询结果
                </span>
            </div>
            <span class="toolbar__label fs-title">

            </span>
            <div class="toolbar__right"  ng-if="paginationInfo.totalItem>0">
                <div class="mr+++">
                    <span>
                    总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                </div>
                <div >
                    <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                    ng-model="paginationInfo.curPage"
                                    items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
