<form name="form">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>请输入groovy脚本</h4>
    </div>
    <div class="modal-body">
        <div>
            <span>
            <br>1)task.getVariable(varname)用于获取流程变量</br>
            <br>2)必须使用return返回结果,可选的返回值为true或false</br>
            </span>
        </div>
        <form name="form">
            <div flex-container="row">
                <div flex-item="12">
                    <lx-text-field lx-allow-clear="true" lx-label="script" lx-valid="form.val.$valid" lx-error="form.val.$invalid" >
                        <textarea type="text" name="val"  ng-model="vm.indata.ruleScript" required></textarea>
                    </lx-text-field>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <lx-button  ng-click="ok()" ng-disabled="form.$invalid" lx-color="green">确定</lx-button>
        <lx-button  ng-click="cancel()" lx-color="grey">关闭</lx-button>
    </div>
</form>

